/*PALETA DE COLORES
NEGRO: #212121
AZUL: #536DFE
BLANCO #FFFFFF
gris claro #CFD8DC
GRIS #455A64





*/

/*TODO EL DOCUMENTO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*HEADER*/
header{
    height: 15vh;

    background-color: #212121;

    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.screen{
    height: 15vh;
    color: white;
}

header a{
    text-decoration: none;
    color: #FFFFFF;

    font-size: larger;

    padding-bottom: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

/*MAIN*/
main{
    height: auto;
    width: 100%;

    background-color: #455A64;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/*CALCULADORA*/
.calculadora{
    width: auto;
    height: auto;

    padding: 5vh;
    margin: 5vh;
    border-radius: 5vh;

    background-color: #212121;
}

/*DISPLAY*/
.display{
    height: 20vh;
    width: 100%;

    margin-bottom: 4vh;
    background-color: #CFD8DC;
    display: flex;
    flex-direction: column;
}

/*DISPLAY SUPERIOR*/
.displaySuperior{
    height: 50%;
    width: inherit;
    

}

.displaySuperior input{
    width: 100%;
    height: 100%;
    background-color: #CFD8DC;
    border: none;
    
}

/*DISPLAY INFERIOR*/
.displayInferior{
    height: 50%;
    width: inherit;

}

.displayInferior input{
    width: 100%;
    height: 100%;
    background-color: #CFD8DC;
    border: none;
}

/*BOTONERA*/
.botonera{
    height: inherit;

}

/*BOTONES*/
.botonera button{
    height: 10vh;
    width: 10vh;

    font-size: large;
    background-color: #536DFE;
    color: #CFD8DC;
    border: none;
    margin-top: 1vh;
    border-radius: 2vh;
}

button .button0{
    width: 20vh;
}

footer{
    height: 15vh;

    background-color: #212121;

    display: flex;
    align-items: center;
    justify-content: center;

}

footer p{
    color: #FFFFFF;
}

footer a{

    padding-left: 15vh;
    text-decoration: none;
    color: #FFFFFF;
}