/*PALETA DE COLORES
NEGRO: #212121
AZUL: #536DFE
BLANCO #FFFFFF
gris claro #CFD8DC
GRIS #455A64





*/

/*TODO EL DOCUMENTO*/
*{  
    /*Quita el espacio entre la ventana y la página*/
    margin: 0;
    padding: 0;
  /*  box-sizing: border-box;*/
    font-family: sans-serif;
    /* setea el ancho (vw) y alto (vh) de la página a al ancho y alto de la ventana del navegador*/
    background-size: 100vw 100vh;
}
body{   
    line-height: 1.6;
   /* font-family: 'Quicksand', sans-serif;*/
}

/*HEADER*/
header{
    height: 15vh;
    background-color: #212121;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}



header a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: larger;
    padding-bottom: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

/*MAIN*/
.wrap-box{
    width: 450px;
    margin:auto;
    background: rgb(21, 21, 21,0.35);
    color: #FFFFFF;
    height: auto; 
    /* genera un borde al formulario, aumentando la cantidad de pixeles en alto y ancho (490px)*/
    padding: 10px 20px;
    /*esta propiedad le dice que haga el padding hacia dentro del formulario, repetando los 450px de ancho*/
    box-sizing: border-box;
    /*Da un margen superior al formulario*/
    margin-top: 20px;
    border-radius: 10px;
}
#tituloFormulario{
    text-align: center;
    margin: 5px;
    font-size: 25px;
    /*Agrega espacio por debajo del título*/
    margin-bottom: 10px;
}
form p  input,textarea{
    /*Las modificaciones de aspecto respetarán la caja que forma el formulario*/
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    
}
main{
    height: auto;
    width: 100%;

    background-color: #455A64;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/*.check{
    margin-bottom: 2px;
    padding: 0px;
}*/
#enviar:hover, #borrar:hover{
    background-color: #212121;
    cursor: pointer;
    color:#FFFFFF;
}

footer{
    height: 15vh;

    background-color: #212121;

    display: flex;
    align-items: center;
    justify-content: center;

}

footer p{
    color: #FFFFFF;
}

footer a{

    padding-left: 15vh;
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-width:480px) {
   section{
        width: 100%;
    }
}